<div class="container">
  <div class="jumbotron">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Creat Task</button>
    <%=link_to 'Show All Task',tasks_path, class: 'btn btn-info btn-lg',remote: true %>
  </div>
</div>

<%= render 'edit'%>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Task Here</h4>
      </div>
      <div class="modal-body">
        <%=render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container" id="showtask"></div>
